.button{
    background-color: #dfdfdf;
}

.button:hover{
    background-color: #888888;
}

.label {
    -fx-font-family: "Segoe UI", Arial, sans-serif; /* Font family */
    -fx-font-size: 25px; /* Font size */
    -fx-text-fill: #4A90E2; /* Text color (blue) */
    -fx-font-weight: bold; /* Font weight */
}

#otherLabel{
    -fx-font-family: "Arial Black", sans-serif; /* Modern and bold font */
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #FF6347; /* Tomato red text color */
    -fx-font-weight: bold; /* Font weight */
}

#anotherLabel{
    -fx-font-family: "Arial Black", sans-serif; /* Modern and bold font */
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #FF6347; /* Tomato red text color */
    -fx-font-weight: bold; /* Font weight */
}

.subtopic-label {
    -fx-font-family: "Arial Black", sans-serif; /* Modern and bold font */
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #FF6347; /* Tomato red text color */
    -fx-font-weight: bold; /* Font weight */
}
