/* styles.css */

/* Style for the ComboBox arrow button */
.combo-box .arrow-button {
    -fx-background-color: #007bff; /* Blue */
    -fx-background-radius: 0;
}

/* Style for the ComboBox popup list */
.combo-box .list-view {
    -fx-background-color: white;
    -fx-border-color: #ced4da; /* Grey */
}

/* Style for the items in the ComboBox popup list */
.combo-box .list-view .list-cell {
    -fx-text-fill: #495057; /* Dark Grey */
}

/* Style for the selected item in the ComboBox */
.combo-box .combo-box-base .text-field {
    -fx-background-color: white;
    -fx-border-color: #ced4da; /* Grey */
    -fx-background-radius: 0;
}

/* styles.css */

/* Style for the text field */
.text-field {
    -fx-background-color: #ffffff; /* White background */
    -fx-border-color: #ced4da; /* Grey border */
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Style for the focused state of the text field */
.text-field:focused {
    -fx-border-color: #007bff; /* Blue border when focused */
}

/* Style for the text inside the text field */
.text-field .text {
    -fx-text-fill: #495057; /* Dark Grey text color */
}

/* styles.css */

/* Style for the button */
.button {
    -fx-background-color: #007bff; /* Blue background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 3px; /* Border radius */
    -fx-border-color: transparent; /* Transparent border color */
}

/* Style for the button when hovered */
.button:hover {
    -fx-background-color: #0056b3; /* Darker blue background on hover */
}

/* Style for the button when pressed */
.button:pressed {
    -fx-background-color: #0056b3; /* Darker blue background when pressed */
}
#LoginPanel{
    -fx-background-color:  #84b1c4;
    -fx-background-radius: 20px 0 0 20px;
}
#signUp{
    -fx-background-color:  #84b1c4;
    -fx-background-radius: 20px 0 0 20px;
}

#circle1{
    -fx-background-color:  #84b1c4;
    -fx-background-radius: 0 0 0 500px;
}

#circle2{
    -fx-background-color:  #0056b3;
    -fx-background-radius: 0 500px 0 0;
}

#circle3{
    -fx-background-color:  #84b1c4;
    -fx-background-radius: 200px 500px 500px 0;
}

#circle4{
    -fx-background-color:  #0056b3;
    -fx-background-radius: 500px 200px 0 500px;
}